body {
    margin: 0px;
    text-align: center;

    background-color: #fff;
}
#main {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}
#viewport {
    width: 1000px;
    max-width: 100%;
    margin-left: -20px;
    height: 500px;

    background-color: #fff;
    /* box-shadow: 0px 0px 20px rgba(0,0,0,0.1); */
}
#logo {
    height: 20px;
    margin-left: 30px;
}
h1 {
    text-align: left;
    margin-top: 50px;
}
h2 {
    margin: 50px 0px 30px 0;
}
h1, h2, h3, h4, h5 {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif
}
#intro, h2, #main-code {
    text-align: left;
}
#intro {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 20px;
    line-height: 32px;

    padding: 5px;
}
#main-code {
    margin-bottom: 100px;
}
.CodeMirror {
    height: auto;
    font-family: Monaco, monospace;
    font-size: 13px;
    line-height: 20px;
}
h1 a, h2 a, h3 a {
    color: #000;
    text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: underline;
}
.dg.ac {
    top: 40px!important;
}

@media(max-width: 1000px) {

    #viewport {
        width: 960px;
        margin-left: 0;
    }
}

@media(max-width: 960px) {
    #main {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
        margin-top: 10px;
    }

    h2 {
        font-size: 26px;
    }
}